body {
    text-align: center;
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin-bottom: 40px;
    margin-top: 40px;
}

nav {
    background-color: #343a40;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

h5 {
    font-weight: 500;
}

a {
    font-weight: bold;
}

.nav-link:hover {
    color: #f8c200;
}

.header {
    color: black;
    text-decoration: none;
}

.article-card:hover {
    cursor: pointer;
    background-color: rgba(201, 201, 201, 0.2)
}

.article-card {
    text-decoration: none;
    list-style-type: none;
    border: 2px solid rgb(159, 154, 154);
    padding: 20px;
    margin: 0;
    max-width: 300px;
    box-sizing: border-box;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.meta-info {
    font-size: 0.9em;
    color: #000000;
    font-weight: 100;
}
.article-img {
    max-width: 55%;
    height: auto;
    margin: 20px 0;
}
.article-body {
    margin: 40px 30px;
    line-height: 2;
}

button {
    font-size:medium;
    width: 50px;
}

.comments-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comments-container ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.comment {
    list-style-type: none;
    border: 2px solid rgb(159, 154, 154);
    padding: 20px;
    margin: 0 0 20px 0; /* Add margin bottom to separate comments */
    width: 100%; /* Ensure it takes full width */
    box-sizing: border-box;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



button:hover {
    cursor: pointer;
}
